.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  text-align: left;
}

form {
  border: 1px solid black;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  height: 400px;
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 10px;
  width: 100%;
}